@model IEnumerable<AtlasMed_GS.Models.Prontuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alergias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicacao.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProntuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProntuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProntuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
